---
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const description =
  "A modern, blazingly-fast dictionary file format for everyone 🚀";
---

<html class="w-full h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "site",
          image: `${Astro.url.origin}/og.png`,
        },
        optional: {
          description,
        },
      }}
      twitter={{
        title,
        description,
        card: "summary_large_image",
        image: `${Astro.url.origin}/twitter.png`,
      }}
      extend={{
        link: [
          {
            rel: "icon",
            type: "image/svg+xml",
            href: "/favicon.ico",
          },
        ],
      }}
    />
  </head>
  <body class="w-full h-full">
    <slot />
  </body>
</html>
